#about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: black;
  color: white;
  min-width: 400px;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

#about .about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#about .text-about {
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
}

#about img {
  float: left;
  width: 280px;
  height: 280px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin-bottom: 40px;
}

@media (max-width: 700px) {
  #about .about-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about img {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
  #about .text-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #about .year {
    width: auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

.about-item img {
  border-radius: 100%;
}

.vertical-line {
  margin: 20px auto;
  padding: 20px;
}

.vertical-line h3 {
  margin: 0px;
}

.vertical-line p {
  padding: 2px;
}

.outer {
  border-left: 3px solid #ABABAB;
}

.year {
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 400px;
  padding: 10px;
  background: #333;
  color: white;
  max-height: 220px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  color: orange;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}

.title::before {
  content: "";
  margin-top: -10px;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100%;
  left: -30px;
  border: 3px solid orange;
}

.flip-container {
  -webkit-perspective: 800;
          perspective: 800;
  margin: 50px;
  margin-top: 10px;
  float: left;
}

.flip-container:hover .card2 {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card2 {
  width: 280px;
  height: 280px;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.front {
  width: 280px;
  height: 280px;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.back {
  width: 280px;
  height: 280px;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
/*# sourceMappingURL=about.css.map */