//project: ITW2
//author: xpoucp01
//date: 23.04.2022
//section: ABOUT
#about {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: black;
	color: white;
	
	font-family: 'Comfortaa', cursive;
	text-align: center;
	.about-item {
		display: flex;
		justify-content: space-between;
	}
	.text-about {
		padding-top: 20px;
		padding-right: 20px;
		text-align: right;
	}
	//about image 
	img {
		float: left;
		width: 280px;
		height: 280px;
		-webkit-transition: all 0.5s linear;
		transition: all 0.5s linear;
		margin-bottom: 40px;
	}
}
//mobile view
@media (max-width: 700px) {
	#about{
		.card2{
			margin-bottom: 20px;
		}
		
		.about-item{
			display: flex;
			flex-direction: column;
		}
		img{
			margin-left: auto;
			margin-right: auto;
			padding: 0px;
		}
		.text-about{
			display: flex;
			flex-direction: column;
			text-align: center;
			padding-left: 10px;
		}
		.year{
			width: auto;
    		height: min-content;
		}
	} 
}


.about-item {
	img {
		border-radius: 100%;
	}
}
//timeline
.vertical-line {
	margin: 20px auto;
	padding: 20px;
	h3 {
		margin: 0px;
	}
	p {
		padding: 2px;
	}
}
.outer {
	border-left: 3px solid #ABABAB;
}
//timeline card
.year {
	position: relative;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
	width: 405px;
	padding: 10px;
	background: #333;
	color: white;
	max-height: 220px;
}
.info {
	display: flex;
	flex-direction: column;
}
.title {
	color: orange;
	font-family: 'Comfortaa', cursive;
	font-size: 30px;
	&::before {
		content: "";
		margin-top: -10px;
		position: absolute;
		width: 10px;
		height: 10px;
		background: white;
		border-radius: 100%;
		left: -30px;
		border: 3px solid orange;
	}
}
//circle img
.twosides {
	float: left;
	margin: 50px;
	perspective: 800;
	margin-top: 10px;
	&:hover {
		.card2 {
			transform: rotateY(180deg);
		}
	}
}
.card2 {
	position: relative;
	background-color: transparent;
	width: 280px;
	height: 280px;
	transition: 0.5s;
	transform-style: preserve-3d;

}
//front img
.front {
	z-index: 1;
	background-color: transparent;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	width: 280px;
	height: 280px;
	position: absolute;
	transform: rotateY(180deg);
}
//back img
.back {
	z-index: 2;
	background-color: transparent;
	backface-visibility: hidden;
	width: 280px;
	height: 280px;
	position: absolute;
	transform: rotateY(0deg);
}