#contact {
  min-width: 405px;
  padding-bottom: 100px;
  padding-top: 60px;
  background-color: black;
  color: white;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Comfortaa', cursive;
}

.my-contacts {
  padding-top: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.my-contacts h3 {
  margin-bottom: 0px;
  color: orange;
}

.my-contacts p {
  margin-top: 0px;
}

.my-contacts .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 35px;
  min-width: 60px;
  height: 60px;
  background: orange;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-contacts .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin-top: -30px;
  margin-left: 40px;
  font-size: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 20px 0;
}

.contactForm {
  border-radius: 15px;
  width: 60%;
  padding: 40px;
  background: white;
  color: black;
}

.contactForm h2 {
  font-size: 30px;
  color: orange;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.contactForm .inputBox input:focus ~ p {
  color: red;
  font-size: 14px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contactForm .inputBox input:valid ~ p {
  color: red;
  font-size: 14px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contactForm .inputBox textarea {
  min-height: 40px;
  max-width: 100%;
  min-width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.contactForm .inputBox textarea:focus ~ p {
  color: red;
  font-size: 14px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contactForm .inputBox textarea:valid ~ p {
  color: red;
  font-size: 14px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: orange;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.contactForm .inputBox input[type="submit"]:hover {
  background: #04AA6D;
}

.inputBox p {
  position: absolute;
  left: 0;
  font-size: 16px;
  margin: -40px 0;
  width: auto;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: orange;
}

.inputBox p.your_mes {
  position: absolute;
  left: 0;
  font-size: 16px;
  margin: -70px 0;
  width: auto;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: orange;
}

@media only screen and (max-width: 700px) {
  .columns {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .contact {
    padding: 50px;
  }
  .my-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .my-contacts .contactForm {
    width: 100%;
  }
  .my-contacts .text {
    margin-left: 15px;
  }
  #contact .contacts-content {
    background-color: black;
  }
  #contact .contacts-left {
    width: 100%;
    margin-left: -35px;
  }
  #contact .my-contacts {
    padding-top: 0px;
  }
  #contact .contact-member {
    padding: 10px 25px;
  }
}
/*# sourceMappingURL=contact.css.map */