//project: ITW2
//author: xpoucp01
//date: 23.04.2022
//section: PRICE
#price {
	padding-top: 60px;
	padding-bottom: 60px;
	
	background-color: white; color: black; text-align: center;
	h2 {
		text-align: center;
	}
	p {
		font-family: 'Comfortaa', cursive;
	}
	//button to order service, green hover
	.button {
		background-color: orange;
		border-radius: 5px;
		color: white;
		padding: 10px 25px;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		&:hover {
			background-color: #04AA6D;
		}
	}
}
//display flex, all programs are on same level
.pricelist {
	display: flex;
	justify-content: space-between;
}
//1 program
.my_service {
	font-family: 'Comfortaa', cursive;
	width: 33.33%;
	height: 100%;
	padding: 0px;
	list-style-type: none;
	border: 1px solid #eee;
	margin: 10px;
	.header {
		background-color: #4d4d4d;
		color: white;
		font-size: 22px;
		font-family: 'Comfortaa', cursive;
	}
	li {
		border-bottom: 1px solid #eee;
		padding: 20px;
		text-align: center;
	}
	.price {
		font-size: 25px;
		background-color: #A09E9C;
		color: orange;
	}
}
//mobile view
@media (max-width: 700px) {
	#price{
		.pricelist{
			display: flex;
			flex-direction: column;
		}
		.my_service{
			width: 100%;
			margin: 0px;
			margin-bottom: 10px;
		}
	}
}