@charset "UTF-8";

@import "about";
@import "services";
@import "achievements";
@import "price";
@import "contact";

html, body {
    max-width: 100%;
}

html {
	scroll-behavior: smooth; 
}
h3 {
	font-size: 24px;
	font-weight: normal;
}
h2 {
	font-size: 44px;
	font-family: 'Comfortaa', cursive;
}
.content {
	max-width: 1200px;
	margin: auto;
	padding: 0px 35px;
}
body {
	font-family: "Arial";
	line-height: 1.7;
}

#header {
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	min-height: 405px;
	
	background-position: center center;
	background-image: url("img/backround2.jpg");
	.content {
		height: 100%;
	}
}
#header-title {
	h1 {
		padding-top: 110px;
		font-size: 100px;
		color: white;
		font-family: 'Satisfy', cursive;
		height: min-content;
	}
	h2 {
		font-size: 60px;
		margin-top: -100px;
		background-color: red;
		background-image: -webkit-linear-gradient(100deg, white, orange);
		background-size: 100%;
		background-repeat: repeat;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		font-family: 'Satisfy', cursive;
	}
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#a.navigation {
	color: white;
}
.logo {
	align-items: center;
	position: relative;
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
	transition: all 0.3s ease-in-out 0s;
	p {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding-left: 10px;
		font-family: 'Pacifico', cursive;
		color: white;
		font-size: 35px;
		font-style: italic;
	}
	&:hover {
		p {
			cursor: default;
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transition: all 0.6s ease-in-out 0s;
			transition: all 0.6s ease-in-out 0s;
		}
	}
}

#header-menu {
	width: 100%;
}
#navs {

	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	li.active {
		border-radius: 20px;
		background-color: orange;
		-webkit-transition: 0.3s ease background-color;
		transition: 0.3s ease background-color;
		a {
			color: white;
		}
	}
}

@media (max-width: 700px) {

	html, body {
		overflow-x: hidden;
	}
	#header-menu .navigation{
		height: 70px;
	}
	.logo p{
		font-size: 25px;
	}
	#header-menu .navigation img{
		width: 30px;
		height: 30px;
		margin-left: 10px;
	}
	#navs {
		height: 0;
		overflow: hidden;
		flex-direction: column;

		position: absolute;
		top: 100%;
	}

	#menu-toggle:checked ~ #navs {
		height: auto;
		margin-top: 40px;
		background-color: #222;
		width: 100%;
	}

	#menu-toggle:checked ~ #contacts{
		background-color: red;
	}



	#navs a.active {
		border: none;
		background-color: transparent;
	}
	#navs li.active {
		border: none;
		background-color: transparent;
	}
	#navs li {
		border: none;
		background-color: transparent;
	}
	#header-title {
		height: max-content;

		h1{
			font-size: 45px;
			text-align: center;
			padding-top: 200px;
		}
		h2{
			font-size: 35px;
			margin: 0px;
			padding-bottom: 50px;
		}
	}
}

.navigation {
	position: relative;
	.logoa {
		padding: 0px;
		margin: 0px;
		margin-right: 140px;
	}
	align-items: center;
	background: rgba(0, 0, 0, 0.4);
	top: 0px;
	display: flex;
	flex-direction: row;
	left: 0px;
	width: 100%;
	height: 100px;
	justify-content: space-between;
	-webkit-transition: 0.6s;
	transition: 0.6s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	img {
		color: white;
		width: 50px;
		height: 50px;
		-webkit-filter: invert(100%);
		filter: invert(100%);
	}
	a {
		font-family: 'Fira Sans', sans-serif;
		font-weight: bold;
		text-align: center;
		color: white;
		margin: auto;
		padding: 50px;
		text-decoration: none;
		font-size: 17px;
	}
	ul {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		text-transform: uppercase;
		list-style-type: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0;
		padding: 0;
		li {
			a {
				position: relative;
				margin: 0 15px;
				text-decoration: none;
				-webkit-transition: 0.5s;
				transition: 0.5s;
			}
		}
	}
	li {
		text-align: center;
		margin: 0px;
		border: none;
		-webkit-transition: all 0.5s linear;
		transition: all 0.5s linear;
		margin-right: 5px;
		margin-left: 5px;
		padding-top: 17px;
	}
}
#networks {
	.fab {
		font-size: 18pt;
	}
}
.expand {
	width: -moz-min-content;
	width: min-content;
	padding: 10px;
	position: relative;
	text-decoration: none;
	display: inline-block;
	border-radius: 20px;
	&:after {
		display: block;
		content: '';
		border-bottom: solid 3px orange;
		padding: 5px;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: -webkit-transform 700ms ease-in-out;
		transition: -webkit-transform 700ms ease-in-out;
		transition: transform 700ms ease-in-out;
		transition: transform 700ms ease-in-out, -webkit-transform 700ms ease-in-out;
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
	}
	&:hover {
		&:after {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
			-webkit-transform-origin: 0 50%;
			transform-origin: 0 50%;
		}
	}
}

.sticky {
	#contacts{
		display: none;
	}
	background-color: #4d4d4d;
	position: fixed;
	top: 0;
	z-index: 550;
	a {
		color: white;
	}
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

//button "objednat služby"
#header button {
	font-family: 'Satisfy', cursive;
	background-color: orange;
	border: 1px solid orange;
	border-radius: 15px;
	color: white;
	padding: 20px 40px;
	margin: auto;
	width: max-content;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	transition: all 0.7s ease-in-out;
}
#header button:hover{
	transform: scale(1.3);
	transition: all 0.7s ease-in;
}
#header button a{
	text-decoration: none;
	color: white;
}

#contacts {
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0px;
	margin: 100px 0;
	right: 40px;
	padding-right: 20px;
  
  .fa {
	color: white;
	margin-top: 35px;
	margin-right: 20px;
	font-size: 50px;
	width: 30px;
	text-align: center;
	text-decoration: none;
  }
  
  .fa-instagram {

	width: -moz-max-content;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
  }
  
  .fa-facebook-f {

	width: -moz-max-content;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
  }
  
  .fa-youtube {

	width: -moz-max-content;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
  }
  
  .fa-twitter {

	width: -moz-max-content;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
  }
  
  .fa-instagram:hover {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  .fa-facebook-f:hover {
	color: blue;
  }
  
  .fa-youtube-play:hover {
	color: red;
  }
  
  .fa-twitter:hover {
	color: blue;
  }
}
  
#menu-toggle {
	display: none;
}

#hamburger {
	display: none;
	width: 30px;
	height: 30px;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: #fff;
	position: absolute;
	height: 4px;
	width: 30px;
	margin-top: 15px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}


.menu-button::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked + #hamburger .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}
  
#menu-toggle:checked + #hamburger .menu-button {
background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + #hamburger .menu-button::after {
margin-top: 0px;
transform: rotate(-405deg);
}

@media (max-width: 700px) {
	#header-menu{
		background-color: #4d4d4d;
		position: fixed;
		top: 0;
		z-index: 500;
		a {
			color: white;
		}
	}
	.sticky {
		#contacts{
			display: flex;
		}
	}
	#header button {
		font-size: 18px;
	}

	.expand:after{
		border-bottom: solid 3px black;
		border: none;
	}
	.text-about .twosides{
		margin: auto;
	}
	
	#hamburger {
		display: block;
	}

	.menu-button-container {
		display: flex;
	}
	.navs {
		position: absolute;
		top: 0;
		margin-top: 50px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	#menu-toggle ~ .navs li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	#menu-toggle:checked ~ .navs li {
		border: 1px solid #333;
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.navs > li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: white;
		background-color: #222;
	}
	.navs > li:not(:last-child) {
		border-bottom: 1px solid #444;
	}
	#contacts{
		position: static;
		display: flex;
		background-color: #222;
		margin: 0px;
		flex-direction: row;
		margin-bottom: 0px;
		padding-right: 0px;
	}
	#contacts .fa{
		display: flex;
		flex-direction: row;
		margin-left: auto;
    	margin-right: auto;
		text-align: center;
		font-size: 25px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

