#about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: black;
  color: white;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

#about .about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#about .text-about {
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
}

#about img {
  float: left;
  width: 280px;
  height: 280px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin-bottom: 40px;
}

@media (max-width: 700px) {
  #about .about-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about img {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
  #about .text-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #about .year {
    width: auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

.about-item img {
  border-radius: 100%;
}

.vertical-line {
  margin: 20px auto;
  padding: 20px;
}

.vertical-line h3 {
  margin: 0px;
}

.vertical-line p {
  padding: 2px;
}

.outer {
  border-left: 3px solid #ABABAB;
}

.year {
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 300px;
  padding: 10px;
  background: #333;
  color: white;
  max-height: 220px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  color: orange;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}

.title::before {
  content: "";
  margin-top: -10px;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100%;
  left: -30px;
  border: 3px solid orange;
}

.flip-container {
  -webkit-perspective: 800;
          perspective: 800;
  margin: 50px;
  margin-top: 10px;
  float: left;
}

.flip-container:hover .card2 {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card2 {
  width: 280px;
  height: 280px;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.front {
  width: 280px;
  height: 280px;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.back {
  width: 280px;
  height: 280px;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

#services {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("img/backround3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#services h3 {
  color: #FFA200;
  font-family: 'Comfortaa', cursive;
}

#services .content > div {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  padding-bottom: 120px;
}

#services .services-card {
  -webkit-backdrop-filter: grayscale(0.9) opacity(0.9) blur(6px);
          backdrop-filter: grayscale(0.9) opacity(0.9) blur(6px);
  padding: 40px;
  position: relative;
}

#services .services-card:hover {
  -webkit-box-shadow: 0 0 25px 0 orange;
  box-shadow: 0 0 25px 0 orange;
}

#services .services-card:hover div img:last-child {
  display: initial;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#services .services-card:hover h3 {
  color: #AD730E;
}

#services .services-card:hover p {
  color: #AD730E;
}

#services .services-card > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 40px;
}

#services .services-card p {
  color: #929292;
  font-family: 'Comfortaa', cursive;
}

#services .first_par {
  font-family: 'Comfortaa', cursive;
  color: black;
  text-align: left;
  margin-right: 100px;
  padding-bottom: 20px;
}

#services img {
  margin: 5px;
  height: 50px;
  width: 50px;
}

.services-card {
  -webkit-box-shadow: 0 0 20px 0 grey;
  box-shadow: 0 0 20px 0 grey;
  padding: 10px;
  border-radius: 40px;
}

.services-card > div {
  padding-bottom: 10px;
}

.reveal {
  position: relative;
  -webkit-transform: translateY(150px);
  transform: translateY(150px);
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  opacity: 0;
}

.reveal.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 700px) {
  #services {
    background-image: none;
    background-color: white;
    color: black;
  }
  #services .first_par {
    margin: auto;
    text-align: center;
  }
  #services .services-card {
    -webkit-box-shadow: 0 0 5px 0 orange;
    box-shadow: 0 0 5px 0 orange;
  }
}

#achievements {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: orange;
  color: white;
  text-align: center;
}

#achievements nav {
  background-color: orange;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0 auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  top: 6rem;
  z-index: 300;
}

#achievements nav a {
  padding-right: 50px;
  padding-left: 50px;
  color: white;
  font-size: 28px;
  font-family: 'Comfortaa', cursive;
}

#achievements img {
  margin: auto;
  width: 60%;
  padding: 10px;
  border-radius: 20px;
}

#achievements h3 {
  font-size: 38px;
  font-family: 'Comfortaa', cursive;
}

#achievements .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
}

#achievements .button_left {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: auto;
  text-decoration: none;
  font-size: 50px;
  border: 1px solid white;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

#achievements .button_left:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
  background-color: grey;
  border: 1px solid grey;
  color: white;
}

.button_right {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: auto;
  text-decoration: none;
  font-size: 50px;
  border: 1px solid white;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.button_right:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
  background-color: grey;
  border: 1px solid grey;
  color: white;
}

@media (max-width: 700px) {
  #achievements .button_right {
    font-size: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }
  #achievements .button_left {
    font-size: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }
  #achievements img {
    width: 90%;
    padding: 10px;
  }
  #achievements nav {
    top: 4rem;
  }
}

#price {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
  color: black;
  text-align: center;
}

#price h2 {
  text-align: center;
}

#price p {
  font-family: 'Comfortaa', cursive;
}

#price .button {
  background-color: orange;
  border-radius: 5px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

#price .button:hover {
  background-color: #04AA6D;
}

.pricelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my_service {
  font-family: 'Comfortaa', cursive;
  width: 33.33%;
  height: 100%;
  padding: 0px;
  list-style-type: none;
  border: 1px solid #eee;
  margin: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.my_service .header {
  background-color: #4d4d4d;
  color: white;
  font-size: 22px;
  font-family: 'Comfortaa', cursive;
}

.my_service li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.my_service .price {
  background-color: #A09E9C;
  font-size: 25px;
  letter-spacing: .2rem;
  color: orange;
}

@media (max-width: 700px) {
  #price .pricelist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #price .my_service {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
  }
}

#contact {
  padding-bottom: 100px;
  padding-top: 60px;
  background-color: black;
  color: white;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Comfortaa', cursive;
}

.my-contacts {
  padding-top: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.my-contacts h3 {
  margin-bottom: 0px;
  color: orange;
}

.my-contacts p {
  margin-top: 0px;
}

.my-contacts .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 35px;
  min-width: 60px;
  height: 60px;
  background: orange;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-contacts .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin-top: -30px;
  margin-left: 40px;
  font-size: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 20px 0;
}

.contactForm {
  border-radius: 15px;
  width: 60%;
  padding: 40px;
  background: white;
  color: black;
}

.contactForm h2 {
  font-size: 30px;
  color: orange;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.contactForm .inputBox input:focus ~ p {
  color: red;
  font-size: 14px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contactForm .inputBox input:valid ~ p {
  color: red;
  font-size: 14px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contactForm .inputBox textarea {
  min-height: 40px;
  max-width: 100%;
  min-width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.contactForm .inputBox textarea:focus ~ p {
  color: red;
  font-size: 14px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contactForm .inputBox textarea:valid ~ p {
  color: red;
  font-size: 14px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: orange;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.contactForm .inputBox input[type="submit"]:hover {
  background: #04AA6D;
}

.inputBox p {
  position: absolute;
  left: 0;
  font-size: 16px;
  margin: -40px 0;
  width: auto;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: orange;
}

.inputBox p.your_mes {
  position: absolute;
  left: 0;
  font-size: 16px;
  margin: -70px 0;
  width: auto;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: orange;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .contact {
    padding: 50px;
  }
  .my-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .my-contacts .contactForm {
    width: 100%;
  }
  .my-contacts .text {
    margin-left: 15px;
  }
  #contact .contacts-content {
    background-color: black;
  }
  #contact .contacts-left {
    width: 100%;
    margin-left: -35px;
  }
  #contact .my-contacts {
    padding-top: 0px;
  }
  #contact .contact-member {
    padding: 10px 25px;
  }
}

html {
  scroll-behavior: smooth;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 44px;
  font-family: 'Comfortaa', cursive;
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 0px 35px;
}

body {
  font-family: "Arial";
  line-height: 1.7;
}

#header {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 400px;
  background-position: center center;
  background-image: url("img/backround2.jpg");
}

#header .content {
  height: 100%;
}

#header-title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#header-title h1 {
  padding-top: 110px;
  font-size: 100px;
  color: white;
  font-family: 'Satisfy', cursive;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

#header-title h2 {
  font-size: 60px;
  margin-top: -100px;
  background-color: red;
  background-image: -webkit-linear-gradient(100deg, white, orange);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: 'Satisfy', cursive;
}

#a.navigation {
  color: white;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.logo p {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 35px;
  font-style: italic;
}

.logo:hover p {
  cursor: default;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

#header-menu {
  width: 100%;
}

#navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navs li.active {
  border-radius: 20px;
  background-color: orange;
  -webkit-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
}

#navs li.active a {
  color: white;
}

@media (max-width: 700px) {
  #header-menu .navigation {
    height: 70px;
  }
  .logo p {
    font-size: 25px;
  }
  #header-menu .navigation img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  #navs {
    height: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
  }
  #menu-toggle:checked ~ #navs {
    height: auto;
    margin-top: 40px;
    background-color: #222;
    width: 100%;
  }
  #menu-toggle:checked ~ #contacts {
    background-color: red;
  }
  #navs a.active {
    border: none;
    background-color: transparent;
  }
  #navs li.active {
    border: none;
    background-color: transparent;
  }
  #navs li {
    border: none;
    background-color: transparent;
  }
  #header-title {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  #header-title h1 {
    font-size: 45px;
    text-align: center;
    padding-top: 200px;
  }
  #header-title h2 {
    font-size: 35px;
    margin: 0px;
    padding-bottom: 50px;
  }
}

.navigation {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.4);
  top: 0px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  left: 0px;
  width: 100%;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .logoa {
  padding: 0px;
  margin: 0px;
  margin-right: 140px;
}

.navigation img {
  color: white;
  width: 50px;
  height: 50px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.navigation a {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: auto;
  padding: 50px;
  text-decoration: none;
  font-size: 17px;
}

.navigation ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation li {
  text-align: center;
  margin: 0px;
  border: none;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 17px;
}

#networks .fab {
  font-size: 18pt;
}

.expand {
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
  padding: 10px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
}

.expand:after {
  display: block;
  content: '';
  border-bottom: solid 3px orange;
  padding: 5px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 700ms ease-in-out;
  transition: -webkit-transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out, -webkit-transform 700ms ease-in-out;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.expand:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

.sticky {
  background-color: #4d4d4d;
  position: fixed;
  top: 0;
  z-index: 550;
}

.sticky #contacts {
  display: none;
}

.sticky a {
  color: white;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  background: orange;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 6px 6px 0 black;
  box-shadow: 6px 6px 0 black;
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 0 #ffcc80;
  box-shadow: 10px 10px 0 #ffcc80;
}

.cta:hover span:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 45px;
}

.cta:hover path.three {
  -webkit-animation: color_anim 1s infinite 0.2s;
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-animation: color_anim 1s infinite 0.6s;
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-animation: color_anim 1s infinite 0.4s;
  animation: color_anim 1s infinite 0.4s;
}

.cta span:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 0px;
}

.wrapper span {
  -webkit-transform: skewX(15deg);
  transform: skewX(15deg);
}

.wrapper span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

path.one {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-60%);
  transform: translateX(-60%);
}

path.two {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%);
}

#contacts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0px;
  margin: 100px 0;
  right: 40px;
  padding-right: 20px;
}

#contacts .fa {
  color: white;
  margin-top: 35px;
  margin-right: 20px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

#contacts .fa-instagram {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

#contacts .fa-facebook-f {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

#contacts .fa-youtube {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

#contacts .fa-twitter {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

#contacts .fa-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contacts .fa-facebook-f:hover {
  color: blue;
}

#contacts .fa-youtube-play:hover {
  color: red;
}

#contacts .fa-twitter:hover {
  color: blue;
}

#menu-toggle {
  display: none;
}

#hamburger {
  display: none;
  width: 30px;
  height: 30px;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  margin-top: 15px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + #hamburger .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + #hamburger .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + #hamburger .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

@media (max-width: 700px) {
  #header-menu {
    background-color: #4d4d4d;
    position: fixed;
    top: 0;
    z-index: 500;
  }
  #header-menu a {
    color: white;
  }
  .sticky #contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .expand:after {
    border-bottom: solid 3px black;
    border: none;
  }
  .text-about .flip-container {
    margin: auto;
  }
  #hamburger {
    display: block;
  }
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navs {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-toggle ~ .navs li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .navs li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .navs > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .navs > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  #contacts {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #222;
    margin: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  #contacts .fa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */